.Head {
  color: dark black;
  font-style: oblique;
  text-align: center;
  text-decoration: underline;

}
.container {
  background-image: url('../images/background.jpeg')
}
.introduction {
  font-style:normal;
  background:color;
  background-color: mistyrose;
  font-size: 20px;
  font-weight: 400;
  font-family: fantasy;

}
.strong {
  font-size: 20px
  font-weight: 400px;

}
.Properties {
  background: equilateral triangle.jpg;
  background-color: skyblue;
  font-size: 16px;
  font-style: normal;
  font-family: sans-serif;
  margin: 5px 10px 5px 10px;
}

#Main-footer {
  background: mistyrose;
  color: black;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
